@media screen and (min-width: 35.4375em) {
  .hide-mobi-price {
    display: none;
  }

  .show-mobi-price {
    display: flex;
  }
}
@media screen and (max-width: 35.4375em) {
  .hide-desk-price {
    display: none;
  }

  .show-desk-price {
    display: flex;
  }
}
